.biz {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;

  &-verified {
    i {
      border-radius: 50%;
      color: #00d6e2;
      font-size: .7em;
    }
  }

  &-info {
    &-avatar {
      border-radius: 50%;
      margin: 0 auto;
      overflow: hidden;
      height: 150px;
      width: 150px;

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }

    &-name {
      font-size: 1.6rem;
    }
  }

  &-links {
    max-width: 90%;
    width: 100%;

    @media (min-width: 768px) {
      max-width: 400px;
    }

    &-list {
      list-style: none;
      margin: 0;
      padding: 0;

      &-item {
        width: 100%;
      }
    }

    &-link {
      align-items: center;
      display: flex;
      border: 2px solid;
      border-radius: .3rem;
      line-height: 0;
      font-size: 1.1rem;
      padding: .9rem;
      text-decoration: none;
      transition: all 200ms ease-in-out;
      width: 100%;

      i, span {
        vertical-align: middle;
      }

      span {
        line-height: 1.2em;
      }

      i.icon {
        font-size: 2rem;
      }

      &:hover {
        color: inherit;
        transform: scale(1.03);
      }
    }
  }

  &-copy {
    text-decoration: none;
    transition: opacity 200ms ease-in-out;

    &:hover {
      color: inherit;
      opacity: .7;
    }
  }
}

.btn-share {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.btn-sign-in {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
