.biz {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;

  &-verified {
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #fff;
    line-height: 0;
    display: inline-block;
    max-width: 17px;
    max-height: 17px;
    padding: 1px;
    text-align: center;

    i {
      color: #00bcc5;
      font-size: .5em;
    }
  }

  &-info {
    &-avatar {
      margin: 0 auto;
      width: fit-content;

      img {
        max-height: 100px;
        max-width: 400px;
      }
    }

    &-name {
      font-size: 1.8rem;
    }
  }

  &-links {
    max-width: 90%;
    width: 100%;

    @media (min-width: 768px) {
      max-width: 400px;
    }

    &-list {
      list-style: none;
      margin: 0;
      padding: 0;

      &-item {
        width: 100%;
      }
    }

    &-link {
      border: 2px solid;
      border-radius: .3rem;
      display: block;
      line-height: 0;
      font-size: 1.2rem;
      padding: 1rem;
      text-decoration: none;
      transition: all 200ms ease-in-out;
      width: 100%;

      i, span {
        vertical-align: middle;
      }

      &:hover {
        color: inherit;
        transform: scale(1.03);
      }
    }
  }

  &-copy {
    text-decoration: none;
    transition: opacity 200ms ease-in-out;

    &:hover {
      color: inherit;
      opacity: .7;
    }
  }
}