.form {
  &-error {
    color: var(--bs-danger);
    font-size: .77em;
  }

  &-horizontal {
    .btn {
      span {
        vertical-align: text-top;
      }
    }
  }
}

.private {
  min-height: 50vh;

  .dashboard {
    .card {
      .icon-user-plus {
        font-size: 4rem;
      }
    }
  }
}

.flag {
  margin: 0 auto;
  padding: .7rem .4rem;
  position: absolute;
  color: white;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  line-height: 0;
  font-size: 10px;
  letter-spacing: 0.15em;
  text-align: center;
  text-transform: uppercase;

  &-bg-dark {
    background: var(--bs-dark);
  }

  &-bg-danger {
    background: var(--bs-danger);
  }

  &-bg-warning {
    background: var(--bs-warning);
  }

  &-bg-primary {
    background: var(--bs-primary);
  }

  &-bg-secondary {
    background: var(--bs-secondary);
  }
}

.preview {
  &-form {
    &-phone {
      position: relative;
      text-align: center;
    }

    &-link {
      &-icon {
        cursor: pointer;
        font-size: 1.5rem;
      }
    }
  }

  &-profile {
    border-radius: 1.5rem;
    background-color: rgba(var(--bs-light-rgb));
    height: 450px;
    margin: 0 auto;
    width: 222px;
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    top: 1.7rem;
    left: 50%;
    transform: translateX(-50%);

    &::-webkit-scrollbar {
      width: 0;
    }
     
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
     
    &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey;
    }

    header {
      padding: 0 .5rem;

      .biz-info {
        &-avatar {
          margin-top: .7rem;
          height: 100px;
          width: 100px;
        }

        &-name {
          line-height: 1.1em;
          font-size: 1.1rem;
          font-weight: var(--fw-normal);
        }

        &-location {
          font-size: .9rem;

          &-address {
            line-height: 1.1em;
          }
        }
      }
    }

    &-links {
      padding: 0 1rem;

      .links-list {
        &-link {
          border-radius: .2rem;
          border: 1px solid #000;
          padding: .5rem 1rem;
          margin-bottom: 1rem;
          text-align: left;

          a {
            font-size: 1rem;

            .icon {
              margin-right: 1rem;
            }
          }
        }
      }
    }
  }
}